.header{
    background-color: gold;
    border:solid;
    border-color:darkorange;
    border-radius: 30px;
    width: 100%;
    text-align: center;
}

bodyPart{
    text-align: center;

}

ul li{
    margin:auto;
    list-style-type: none;
}